p {
    width: 350px;
    font-size: 20px;
  }
  h1,
  h2 {
    color: green;
  }
  h3 {
    color: red;
    background: black;
    width: 200px;
  }
  ul {
    color: blue;
    list-style-type: square;
  }
  
  ol {
    color: puprple;
    list-style-type: upper-roman;
  }


